.contenedor, .principal, .seccion, .pie, .contenedor .encabezado, .seccion__marcas {
  display: flex;
  align-items: center;
  justify-content: center; }

.contenedor, .principal, .seccion, .pie {
  flex-direction: column; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  min-height: 100vh;
  justify-content: space-between;
  gap: 1.9rem;
  background-color: #e9cbb7; }
  .contenedor .whatsapp {
    display: none; }
  .contenedor .encabezado {
    width: 100%;
    background-color: #441d0b;
    height: 14rem; }
    .contenedor .encabezado .encabezado__logo {
      width: 40%; }
      .contenedor .encabezado .encabezado__logo a img {
        width: 8rem;
        display: block;
        margin: auto; }
    .contenedor .encabezado .encabezado__menu ul li {
      list-style-type: none;
      text-align: center;
      padding-bottom: 0; }
      .contenedor .encabezado .encabezado__menu ul li a {
        text-decoration: none;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        color: beige; }

.principal {
  width: 90%;
  gap: 1.5rem; }
  .principal .principal__texto {
    text-align: center;
    font-size: 1.3rem; }
    .principal .principal__texto h1 {
      font-size: 3rem;
      color: #301804;
      margin-bottom: 0.5rem; }
  .principal .principal__img {
    display: none; }

.seccion {
  background-color: #301804;
  width: 90%;
  gap: 1.5rem;
  padding: 1rem 0; }
  .seccion .seccion__texto {
    text-align: center;
    font-size: 1.3rem;
    color: beige;
    font-weight: 300;
    width: 70%; }
  .seccion .seccion__titulo {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem; }
  .seccion .seccion__imagenes img {
    width: 60%;
    display: block;
    margin: auto; }
  .seccion .seccion__imagenes--marcas img {
    width: 100%;
    display: block;
    margin: auto; }

.pie {
  width: 100%;
  background-color: #441d0b;
  color: beige;
  padding: 0.5rem 0; }
  .pie .derechos {
    display: flex;
    color: beige; }
  .pie .fa-regular fa-copyright fa-1x {
    color: beige; }

.seccion__marcas {
  width: 90%; }
  .seccion__marcas .marcas {
    width: 90%;
    font-weight: bold;
    display: grid;
    grid-template-rows: 0.3fr repeat(8, 1fr);
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    background-color: #301804; }
    .seccion__marcas .marcas .marcas__titulo {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
      text-align: center;
      color: beige; }
    .seccion__marcas .marcas .seccion__imagenes--marcas .img_descripcion {
      margin-top: 0.5rem;
      text-align: center;
      color: beige; }

.container-fluid {
  /* Bootstrap */
  --bs-gutter-x: 0; }

.container .row div .card__formulario {
  width: 70%; }

.container .row div .card__boton {
  background-color: #8d5b31;
  width: 100%; }

.container .row div .formulario {
  background-color: #975439; }

@media screen and (min-width: 480px) and (max-width: 991px) {
  .whatsapp {
    display: block;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 2; }
  .encabezado {
    flex-direction: column;
    height: 12rem;
    gap: 1rem; }
    .encabezado .encabezado__logo {
      height: 50%; }
      .encabezado .encabezado__logo a img {
        width: 5.5rem; }
    .encabezado .encabezado__menu ul {
      display: flex;
      gap: 1rem; }
  .principal {
    width: 75%; }
    .principal .principal__img {
      display: block;
      width: 75%; }
  .seccion {
    width: 75%;
    align-content: center; }
  .seccion__marcas {
    width: 75%; }
    .seccion__marcas .marcas {
      grid-template-rows: 0.3fr repeat(4, 1fr);
      grid-template-columns: auto auto;
      grid-template-areas: "titulo titulo" "img01 img02" "img03 img04" "img05 img06" "img07 img08";
      justify-content: center;
      row-gap: 1rem; }
      .seccion__marcas .marcas div a img {
        width: 70%;
        display: block;
        margin: auto; }
      .seccion__marcas .marcas .marcas__titulo {
        grid-area: titulo; }
      .seccion__marcas .marcas .img01 {
        grid-area: img01; }
      .seccion__marcas .marcas .img02 {
        grid-area: img02; }
      .seccion__marcas .marcas .img03 {
        grid-area: img03; }
      .seccion__marcas .marcas .img04 {
        grid-area: img04; }
      .seccion__marcas .marcas .img05 {
        grid-area: img05; }
      .seccion__marcas .marcas .img06 {
        grid-area: img06; }
      .seccion__marcas .marcas .img07 {
        grid-area: img07; }
      .seccion__marcas .marcas .img08 {
        grid-area: img08; }
  .container-fluid .card__formulario {
    width: 50%; } }

@media screen and (min-width: 992px) {
  .whatsapp {
    display: block;
    position: fixed;
    right: 0.2rem;
    bottom: 0.5rem;
    z-index: 2; }
  .contenedor .encabezado {
    height: 5rem;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 2; }
    .contenedor .encabezado .encabezado__menu ul {
      display: flex;
      margin: 0;
      padding-left: 0;
      gap: 2rem; }
      .contenedor .encabezado .encabezado__menu ul li {
        padding: 0.5rem;
        border: 1px solid #441d0b;
        border-radius: 1rem; }
    .contenedor .encabezado .encabezado__logo {
      margin: 0;
      width: 30%; }
      .contenedor .encabezado .encabezado__logo a img {
        width: 4rem;
        margin-bottom: 0; }
  .contenedor .principal {
    flex-direction: row; }
    .contenedor .principal .principal__texto {
      width: 50%; }
    .contenedor .principal .principal__img {
      display: block;
      width: 35%; }
  .seccion {
    flex-direction: row;
    padding: 2rem;
    justify-content: center; }
    .seccion .seccion__texto {
      width: 50%; }
    .seccion .seccion__imagenes {
      width: 50%; }
    .seccion .seccion__texto--orden {
      order: 2; }
    .seccion .seccion__imagenes--orden {
      order: 1; }
  .seccion__marcas .marcas {
    grid-template-rows: 0.3fr repeat(3, 1fr);
    grid-template-columns: repeat(7, 1fr);
    row-gap: 1rem; }
    .seccion__marcas .marcas .seccion__imagenes--marcas a img {
      width: 100%; }
    .seccion__marcas .marcas .marcas__titulo {
      grid-row: 1/2;
      grid-column: 3/6; }
    .seccion__marcas .marcas .img01 {
      grid-row: 2/3;
      grid-column: 2/3; }
    .seccion__marcas .marcas .img02 {
      grid-row: 2/3;
      grid-column: 4/5; }
    .seccion__marcas .marcas .img03 {
      grid-row: 2/3;
      grid-column: 6/7; }
    .seccion__marcas .marcas .img04 {
      grid-row: 3/4;
      grid-column: 2/3; }
    .seccion__marcas .marcas .img05 {
      grid-row: 3/4;
      grid-column: 4/5; }
    .seccion__marcas .marcas .img06 {
      grid-row: 3/4;
      grid-column: 6/7; }
    .seccion__marcas .marcas .img07 {
      grid-row: 4/5;
      grid-column: 3/4; }
    .seccion__marcas .marcas .img08 {
      grid-row: 4/5;
      grid-column: 5/6; }
  .container-fluid .card__formulario {
    width: 35%; }
  .whatsapp:hover {
    transform: rotate(45deg);
    transition: 0.5s; }
  .encabezado .encabezado__logo:hover {
    transform: scale(1.1);
    transition: 0.5s; }
  .encabezado .encabezado__menu ul li:hover {
    border-color: beige;
    transition: 0.5s; } }
